.inputSearch [type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
  }
 
.button {
    padding: 1em 1.5em;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: hsl(60, 17%, 5%);
    transition: all 1000ms;
    font-size: 10px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #17100c;
  }
  
  .button:hover {
    color: #090808;
    transform: scale(1.1);
    outline: hsl(244, 73%, 53%);
    box-shadow: 4px 5px 17px -4px #c3631f;
  }
  
  .button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #e57137;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .button:hover::before {
    width: 250%;
  }